/* >>>>>> STARTING HEAD & NAVIGATION<<<<<<<<  */
.headerbox {
    display: flex;
    position: relative;
    width: 1920px;
    height: 1187px;
}
.logo{
    position: absolute;
    top: 67px;
    left:132px;
    width: 220px;
    height: 39px;
}
.logo1{
    vertical-align: top;
    font-size: 32px;
    font-family: 'Latoobold';
    color: #3D37F1;
    margin-right: 5px;
}
.logo2{
    vertical-align: top;
    font-size: 32px;
    font-family: 'Latolight';
    color: #4B647E;
}
.navhead{
    display: flex;
    width: 582px;
    height: 24px;
    justify-content: space-around;
    margin: 82px 0 0 1052px;
}
.navhead a {
    color: #3D37F1;
    font:bold 20px 'Lato';


    /* >>>>>>>>>>> STARTING OF FIRST SECTION  <<<<<<<<<< */
}
.mainhead {
    position: absolute;
    left: 132px;
    top: 391px;
    width: 600px;
    height: 203px;
    font-size: 78px;
    color: #534D4D;
    font-family: 'Latoobold';
    text-transform: capitalize;
    text-align: left;
    line-height: 1.4;
}
.text1{
    position: absolute;
    top:636px;
    left: 132px;
    font-size: 22px;
    color: #534D4D;
    font-family: 'Roboto';
}
.wavehandbutton{
    display: flex;
    position: absolute;
    top:822.9px;
    left: 132px;
    width: 263.67px;
    height: 76.77px;
    font: normal 23px 'poppins';
    border-radius: 50px;
    background-color: #3D37F1;
    justify-content: space-around;
    align-items: center;
}
.wavehandbutton:hover{
    opacity: 0.7;
}
.wavehandbutton img {
    vertical-align: top;
    margin-right: 15px;
}
.wavehandbutton a {
    vertical-align: top;
    color: white;

}
.mainheadphoto {
    position: absolute;
    top: 373px;
    left: 1039px;
}

/* >>>>>>>>>> STARTING SECOND SECTION With NEW BLOCK <<<<<<<<< */

.secondsection {
    position: relative;
    width: 1920px;
    height: 1443.67px;
    background-color: #FBFCFD;
}

.secondsection1 p {
    position: absolute;
    top: 87px;
    left: 890px;
    width: 140px;
    height: 24px;
    font: bold 20px 'lato';
    color: #3D37F1
}
.secondsection2 p {
    position: absolute;
    top: 128px;
    left: 671px;
    font: normal 40px 'lato'; 
    text-transform: capitalize;
}
.secondsection3 p {
    position: absolute;
    top: 197px;
    left: 611px;
    width: 712px;
    height: 85px;
    font: normal 18px 'roboto';
    text-indent: 38px;
    line-height: 1.5;

}
.secondsection3 span{
    margin-left: 315px;
}

/* >>>>>>>>>>>>> STARTING OF CONTEINERBOXES <<<<<<<<<< */
.coneinerofboxes{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 349px;
    left: 375px;
    justify-content: space-around;
    width: 1172px;
    height: 963px;

}
.childbox {
    position: relative;
    width: 370px;
    height: 451px;
    background-image: linear-gradient(0deg, #FBBA77, rgb(230, 194, 142));
}
.childbox img {
    position: absolute;
    top: 88px; 
    left: 134px;
}
.childbox h3 {
    position: absolute;
    top:244.9px;
    left: 124.6px;
    font: normal 22px 'lato';
    color: white;
}
.childbox p {
    position: absolute;
    top: 285px;
    left: 40px;
    width: 328px;
    height: 62px;
    text-indent: 8px;
    color: white;
    font: normal 16px 'roboto';
}
.childbox div{
    position: absolute;
    top:358px;
    left:119px;
    width: 131px;
    height: 45px;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    background-color: white;
    color:#4B647E;
}
.childbox div:hover{
    opacity: 0.8;
}
.colorbox2{
    background-image: linear-gradient(180deg, #41eae3, #00d4ff);
}
.colorbox3{
    background-image: linear-gradient(180deg, #69529f, #ce82ecdc);
}
.colorbox4{
    background-image: linear-gradient(0deg, #2c6fbb, #4691c4dc);
}
.childbox5{
    background-image: linear-gradient(0deg, #302f5c, #A5A2F6);
}
.childbox6{
    background-image: linear-gradient(0deg, #af1d26, #FF8088);
}